.main_div{
    background-color: white;
    padding:20px;

    color:black;
}

header{
    text-align: center;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    linear-gradient(0deg, rgba(55, 80, 105,1), rgba(55, 75, 99, 1));
    
}

.main_img{
    background-image: URL("images/main_img.jpg");


}
@media screen and (min-width:1000px) {
    .main_chip p
    {
        width:200px;
        height:200px;
        padding-top:20px;
    }
}

@media screen and (min-width:768px) {
    .main_chip p
    {
        width:170px;
        height:170px;
        padding-top:15px;
    }
}
@media screen and (max-width:576px) {
    .main_chip p 
    {
        width:170px;
        height:170px;
        padding-top: 10px;
       
    }
}


.main_chip p{
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    color:white;
    font-size: 50px;
    margin:50px;
    border-radius:20px;
    vertical-align: middle;
}

.main_chip a{
    color: white;
}

.btn-default{
    font-size: 30px;
}
.btn-primary {
    background-color: rgba(55, 80, 105,1);
    border: none;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 30px;
    padding-left: 30px;
    font-size: 30px;
}

footer{
    background-color:gray;
    color: white;
    padding: 20px;
}
.footer-logo{
    height: 20px;
    width: 20px;
}
.myForm{
    background-color: gray;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 10px;
}

.airplane-icon {
    width: 20px;
}

.user-icon {
    width: 20px;
    padding-bottom: 10px;
}

.success-page h1{
    padding:50px;
    color: white;
    text-align: center;
}

.success-page p{
    padding:50px;
    color: white;
    text-align: center;
}

.boarding-pass-logo {
    width: 400px;
    height: 400px;
    object-fit: contain;
}

.member-page{
    background-color: rgb(8, 16, 121);
    color: white;
}


.qr{
    text-align:center;
    margin-top:50px;
    margin-bottom:50px;
}

.qr-code-img {
    width: 400px;
    height: 400px;
    object-fit: contain;
}


.success-page-top{
    font-size: 20px;
    margin-bottom:50px;
    
}

.success-page-middle{
    font-size: 20px;
    margin-top:50px;

}

.flights{
    width:100%;
}
.chip{
    width:100%;
    border: 1px solid gray;
    padding: 20px;
    border-radius:20px;
    margin-bottom:20px;
}

.title{
    color: green;
    font-weight: bold;
}

.time{
    font-size:20px;
    font-weight: bold;
}
.airport{
    font-size:18px;
}

.umstiege{
    background-color: lightgreen;
    padding: 5px;
    border-radius: 10px;;
}

.price{
    font-size:20px;
    font-weight: bold;
}